[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/
!artifacts/.gitkeep

appsettings.json
project.lock.json
project.fragment.lock.json
artifacts/
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg
**/[Pp]ackages/repositories.config
*.nuget.props
*.nuget.targets
.nuget/
*.dotnet/
.dotnet/

.vs/
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings.user

*.publishproj
*.pubxml
*.pubxml.user
PublishScripts/
publish/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml
coverage*/
TestResults/
nunit-*.xml

.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

appsettings.*.local.json
appsettings.Development.json
**/secrets.json
**/Secrets.json
*.pfx
*.key
*.pem
.env
.env.*
!.env.example


node_modules/
npm-debug.log*
yarn-error.log*

*.txt
*.md
!LICENSE


*.log
*.tmp
*.temp
*.cache
*.swp
*~
.cache/
